.formContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
  };
  .formItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center */
  };
  .formItem div{
    font-size: 17px;
    font-weight:  500;
  }
  .formItem p{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 5px;
   
    color: rgba(99, 99, 99, 1);
  }
  .checkAvailability{
    padding: 0px 50px;
    background: #2E4B2B;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
  }

  /* Location */
.LocationDiv{
  background-color: #BCBEA6CC;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.HeadingLocation{
  background-image: url('/public/cropImage2.png');
  display: flex;
 /* padding: 100px 90px; */
 padding-top: 78px;
 padding-left: 100px;
 padding-right: 100px;
  justify-content: space-between;
  align-items: center;
}
.buttonLocation{
  display: flex;
  justify-content: center;
  gap: 17px;
}
.HeadingLocation button{
  padding: 13px 15px;
  border-radius: 50px;
  font-size: rgba(51, 61, 41, 1);
  background-color: white;
  border: 1px solid ;  
}
.HeadingLocation button:hover{
  padding: 13px 15px;
  border-radius: 50px;
  /* font-size: rgba(51, 61, 41, 1); */
  background-color: rgba(51, 61, 41, 1);
  border: 1px solid rgba(51, 61, 41, 1);
  color: white ;
  
  cursor: pointer;
  
}
.locationsCard{
  padding: 10px 90px;
 display: flex;
 gap: 20px;
 flex-wrap: wrap;
}
.locationsCard h4{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: -10px;
}
.locationsCard p{
  font-size: 16px;
font-weight: 400;
}

/* try search for */
.trySearch{
  padding: 50px 110px;
  display: flex;
  flex-direction: column;
}
.trySearchHeading{
  text-align: center;
  margin-bottom: 30px;
}

.trySeachCard{
  place-self: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 6 equal columns */
  gap: 25px;
}
.particularHouse{
  padding: 10px;
width: 145px;
height: 105px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
background-color: #C9CBB833;
}

/* .particularHouse:hover {
  background-color:#333D29;
  color: white;
}
.particularHouse:hover img {
  color: white;
} */
.particularHouse h4{
font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
    margin-bottom: -2px;
}