.hero {
  margin: 0px;
  position: relative;
  height: 751px;
}

.heroImage {
  position: relative;
  margin: 0;
  width: 100%;
  z-index: 0;
  filter: brightness(0.9);
}
/* .navbarAbsolute{
      position: absolute;
      top: 18px;
      color: white;
      left: 100px;
      right: 100px;
      
      border-radius: 100px;
      z-index: 100;
      /* background: rgba(0 0 0 0.5); */
/* }; */
.content {
  position: absolute;
  width: 47%;
  top: 250px;
  left: 6%;
  color: white;
}

.content div {
  font-size: 52px;
  font-weight: 800;
}
.content p{
  font-size: 18px;
  font-weight: 600;
}
.imgBottom{
  position: absolute;
  z-index: 1;
  top: 10px;
}
.imgCuttingBottom{
  position: absolute;
  top: 510px;
}

 .imgCuttingBottom img{
width: 100%;

}