.discoveryHeroSection{
position: relative;
width: 100%;
height: 580px;
}
.discoveryHeroCutTop{
 /* z-index: 1; */
 width: 100%;
}

.arrowBtn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .arrowBtn:focus {
    outline: none;
  }
  
  /* Positioning arrows */
  .custom-left-arrow {
    left: -25px; /* Adjust as per your design */
  }
  
  .custom-right-arrow {
    right: -25px; /* Adjust as per your design */
  }
.discoveryHeroCutbottom{
position: absolute;
top: 370px;
width: 100%;
}
.bookImageStyle{
    position: relative;
    width: 100%;
    height: 529px;
    filter: brightness(0.5);
}
.discoveryHeroImageCont{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.bookImagesCont{
    width: 745px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.bookImagesCont h1{
    width: 700px;
    font-size: 36px;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
}
.bookImagesCont p{
    width: 629px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-top: -10px;
}

.bookImagesCont  button{

    padding: 19px 50px;
    background: #333D29;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

/* discoverContentCard */

.discoverContentCard1{
display: flex;
flex-direction: column;
padding: 50px 110px;

}
.HeadingDiscovery div{
font-weight: 600;
font-size: 36px;
}
.HeadingDiscovery p{
    font-weight: 500;
    font-size: 17px;
    color: #636363;
      
}
.CardCarouselContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 30px 0px; */
    gap: 24px;
}
.CardCarouselContent1{
  place-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 6 equal columns */
  gap: 25px;
}
.HeadingContent{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.btnDiscovery{
    display: flex;
    justify-content: center;
    gap: 17px;
}
.btnDiscovery1{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 80px;
}
.btnDiscovery1 div{
    padding: 15px 18px;
    font-size: rgba(51, 61, 41, 1);
  
   
}
.carousel-container {
    position: relative;
    padding: 20px;
    display: flex;
    padding-bottom: 10px;
justify-content: space-between;
  }
  
  .carousel-item {
    padding: 10px;
    /* background-color: #f5f5f5; */
    border-radius: 10px;
  }
  
  .carousel-item img {
    width: 100%;
    border-radius: 10px;
  }
  
  .carousel-arrow {
    background: transparent;
    border: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
  }
  

.btnDiscovery1 img{
    padding: 15px 18px;
    font-size: rgba(51, 61, 41, 1); 
}
.btnDiscovery button{
    padding: 13px 15px;
    border-radius: 50px;
    font-size: rgba(51, 61, 41, 1);
    background-color: white;
    border: 1px solid ;     
}
.btnDiscovery button:hover{
    padding: 13px 15px;
    border-radius: 50px;
    /* font-size: rgba(51, 61, 41, 1); */
    background-color: rgba(51, 61, 41, 1);
    border: 1px solid rgba(51, 61, 41, 1);
    color: white ;
    
    cursor: pointer;
}
.CardContentDiv{
    position: relative;
    width: 94%;
    border: 0px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.07);
}
.CardContentDiv1{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    width: 31%;
    position: relative;
    /* width: 94%; */
    border: 0px solid gray;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.CardContentDiv3{ 
    place-self: center;
    margin-top: 30px; 
    position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
  
}
.cardContent{
    padding: 15px 8px;
    /* width: 65%; */
    cursor: pointer;
}
.cardContent1{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.cardContent3{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.cardContent1 div{
    margin-top: 30px;
font-weight: 600;
font-size: 18px;
}
.cardContent1 p{
font-weight: 400;
font-size: 15px;
color: rgba(99, 99, 99, 1);
text-align: center;
}
.cardContent3 div{
    margin-top: 30px;
font-weight: 600;
font-size: 18px;
}
.cardContent3 p{
width: 310px;
font-weight: 400;
font-size: 15px;
color: rgba(99, 99, 99, 1);
text-align: center;
}
.CardContentDiv3img{
    height: 60px;
    width: 60px;
}

.trySeachCard{
    display: flex;
    padding: 0px 90px;
    margin-top: 165px;
    flex-wrap: wrap;
    gap: 10px;
  }
  .particularHouse{
    width: 122px;
    height: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  }
.trySeachCard button{
  border: 1px solid gray;
    background: white;
    border-radius: 60px;
    margin-top: 12px;
    padding: 5px 15px;
    margin-bottom: 41px;
}

.ImgCarousel{
width: 100%; 
height: 338px;
/* display: flex; */

}

.startRatiingdiv{
 position: absolute;
 top: 12px;  
 left: 10px; 
 background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
 padding: 7px 15px;
}
.cardContent div{
font-size: 20px;
font-weight: 600;
}
.cardContent p{
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 2px;
   color: rgba(99, 99, 99, 1)
}
.cardContent h4 span{
    font-size: 12px;
    font-weight: 400;
    font-family: Inter;
}

/* accomdContent */
.accomdImageDiv1{
    padding: 0px 105px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.accomdImageDiv2{
    width: 100%;
}
.accomdImageDiv2 img{
    position: relative;
    width: 100%;
}
.absoluteDivAccomd{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 250px;
    width: 570px;
    left: 120px;
    height: 200px;
    color: white;
    background-color: rgba(51, 61, 41, 0.6);
    padding: 40px 40px;
    border-radius: 10px;
  
}
.absoluteDivAccomd div{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
}
.absoluteDivAccomd p{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}
.absoluteDivAccomd button{
    margin-bottom: 30px;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 60px;
}

/* Accomdation */
.HeadingDiscovery1{
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}
.HeadingDiscovery1 div{
    font-weight: 600;
    font-size: 36px;
}
.HeadingDiscovery1 p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(99, 99, 99, 1);
}


@media (max-width: 600px) {

    .cardContent3 p{
        font-size: 10px;
        width: 160px;
        text-align: center;
    }
    .cardContent3 div{
        font-size: 18px;
        width: 160px;
        text-align: center;
        margin-top: 10px;
    }
    .CardCarouselContent1{
        place-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        place-self: center;
      }
      .absoluteDivAccomd{
        top: 132px;
        width: 270px;
        left: 82px;
        height: 110px;
        padding: 20px 20px;
        }
        .bookImagesCont h1{
            width: 320px;
            font-size: 18px;
            font-weight: 600;
            padding: 0px 10px 0px 10px;
        }
        .bookImagesCont p{
            width: 320px;
            text-align: left;
            font-size: 12px;
            font-weight: 600;
            margin-top: -10px;
        }
        
        .bookImagesCont  button{
            padding: 13px 30px;
            font-size: 16px;
        }
        .bookImagesCont{
            width: 100%;
        }
        .bookImageStyle{
            position: relative;
            width: 100%;
            height: 400px;
            object-fit: cover;
            filter: brightness(0.5);
        }
        .discoveryHeroCutbottom{
            top: 355px;
          }
          .discoveryHeroSection{
            height: 410px;
          }
          .accomdImageDiv1{
            padding: 50px 20px;
        }
        .accomdImageDiv2 img{
            height: 250px;
            object-fit: cover;
            border-radius: 15px;
        }
        .absoluteDivAccomd{
            top: 175px;
            width: 170px;
            left: 30px;
            height: 75px;
            padding: 20px 20px;
            }
            .absoluteDivAccomd div{
                margin-bottom: 0px;
                font-size: 11px;
                font-weight: 600;
                margin-top: -10px;
            }
            .absoluteDivAccomd p{
                margin-bottom: 0px;
                font-size: 8px;
                font-weight: 500;
            }
            .absoluteDivAccomd button{
                margin-bottom: 0px;
                padding: 7px 10px;
                font-size: 8px;
                font-weight: 500;
                border-radius: 60px;
            }
            .HeadingDiscovery1 div{
                font-size: 18px;
            }
            .HeadingDiscovery1 p{
                font-size: 10px;
                margin-bottom: 30px;
            }
            .CardContentDiv3{ 
                margin-top: 0px;
              }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .CardCarouselContent1{
        place-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
      }
      .CardContentDiv3{ 
        width: 300px;
      }
      .discoveryHeroCutbottom{
        top: 438px;
      }
      .discoverContentCard{
        padding: 50px 40px 90px 40px;
    }
    .absoluteDivAccomd{
    top: 260px;
    width: 280px;
    left: 82px;
    height: 125px;
    padding: 20px 20px;
    }
    .absoluteDivAccomd div{
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 600;
    }
    .absoluteDivAccomd p{
        margin-bottom: 10px;
        font-size: 11px;
        font-weight: 500;
    }
    .absoluteDivAccomd button{
        margin-bottom: 30px;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 60px;
    }
    .accomdImageDiv1{
        padding: 0px 60px;
    }
    .accomdImageDiv2 img{
        height: 450px;
        object-fit: cover;
        border-radius: 15px;
    }
  }
  
  @media (min-width: 901px) {
    .discoverContentCard{
        padding: 0px 90px 90px 90px;
    }
    .absoluteDivAccomd{
        top: 221px;
        left: 146px;
        padding: 20px 20px;
        }
        .absoluteDivAccomd div{
            margin-bottom: 0px;
        }
        .absoluteDivAccomd p{
            margin-bottom: 10px;
        }
        .HeadingDiscovery1 div{
            margin-top: 50px;
        }
  }
